<mat-drawer-container class="workflow-container">


  <mat-drawer mode="side" class="workflow-drawer" [opened]="isDrawerOpen">

    <mat-nav-list>

      <a mat-list-item routerLink="/workflows/designer/new">
        <mat-icon>add</mat-icon>
        <span *ngIf="isDrawerOpen">Create New Workflow</span>
      </a>

      <a mat-list-item routerLink="/workflows/list">
        <mat-icon>view_list</mat-icon>
        <span *ngIf="isDrawerOpen">Workflow List</span>
      </a>

      <a mat-list-item routerLink="/workflows/dashboard">
        <mat-icon>running workflow</mat-icon>
        <span *ngIf="isDrawerOpen">Running workflow</span>
      </a>


    <a mat-list-item routerLink="/workflows/dashboard">
        <mat-icon>running workflow</mat-icon>
        <span *ngIf="isDrawerOpen">Running workflow</span>
      </a>

      <a mat-list-item routerLink="/workflows/leave-request">
        <mat-icon>leave request</mat-icon>
        <span *ngIf="isDrawerOpen">Leave Request</span>
      </a>

    </mat-nav-list>

  </mat-drawer>


  <mat-drawer-content>

    <header class="workflow-header">
      <button mat-icon-button (click)="toggleDrawer()">
        <mat-icon>{{ isDrawerOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
    </header>

  
    <router-outlet></router-outlet>

  </mat-drawer-content>

</mat-drawer-container>
