<!-- leave-stepper-component.html -->

<mat-horizontal-stepper linear #stepper *ngIf="orderedSteps.length > 0">
  <mat-step *ngFor="let step of orderedSteps; let i = index" [label]="getDisplayName(step)">
   <!-- <mat-step>
  <ng-template matStepLabel>
    {{ step.displayName }}
  </ng-template> -->
<ng-container
  appDynamicStepHost
  [component]="getComponentForStep(step)"
  [step]="step"
  [next]="goNext.bind(this)"
  [decide]="handleDecision.bind(this)">
</ng-container>

<div style="margin-top:20px">
  <button mat-button *ngIf="i > 0" (click)="goBack()">Back</button>
</div>
  </mat-step>
</mat-horizontal-stepper>

<div *ngIf="orderedSteps.length === 0">
  <p>Loading workflow steps...</p>
</div>