<!-- leave-stepper-component.html -->

<mat-horizontal-stepper linear *ngIf="currentStep">
  <mat-step [label]="getDisplayName(currentStep)">
    <ng-container
      appDynamicStepHost
      [component]="getComponentForStep(currentStep)"
      [step]="currentStep"
      [workflowInstanceId$]="workflowInstanceId$"
      [next]="goNext.bind(this)"
      [decide]="handleDecision.bind(this)">
    </ng-container>
  </mat-step>
</mat-horizontal-stepper>

<div *ngIf="!currentStep">
  <p>Loading current workflow step...</p>
</div>